[core]
	excludesfile = ~/.gitignore
	pager        = less
[user]
	name = Aaron Cohen
	email = aarondcohen@gmail.com
[color]
	all          = auto
	pager        = true
	diff         = auto
	interactive  = auto
	status       = auto
	branch       = true
[color "diff"]
	meta         = blue bold
	frag         = magenta bold
	old          = red
	new          = green
[push]
	default = current
[alias]
	changes = diff --stat=200 master
	safe-push = push --force-with-lease
